body{
    margin: 0%;
    padding: 0;
    background-image: url(imgs/fundoSpace.jpeg);
    background-size: cover;
    zoom: 1.5;
}

header{
    z-index: 1000;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 60px;
    color: white;
}

.mid{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
}

.mid a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: font-size 0.2s;
    margin: 10px;
}

.mid a:hover{
    font-size: 20px;
}

a{
    text-decoration: none;
}

button{
    border-radius: 20px;
    border-style: none;
    height: 30px;
    transition: all 0.2s;
}

button:hover{
    font-size: 15px;
    height: 40px;
}

#logo{
    width: 65px;
    height: 65px;
}

.mainContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.site{
    flex-direction: column;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: white 2px solid;
    color: white;
    border-radius: 30px;
    padding: 5px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    width: 270px;
    height: 113px;
}

pre{
    font-size: 10px;
}

.topo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.topo button{
    margin-left: 10px;
    height: 20px;
    transition: all 0.2s;
}

.topo button:hover{
    height: 30px;
}

.row{
    display: flex;
    flex-direction: row;
}